<!DOCTYPE html>
<html lang="en">
<head>
<body>

    <form action="/submit" form method="post">
        <label id="firstname" id="firstname">first name</label>
        <input type="text" id="firstname" name="firstname">
        <br>
        <label>email</label>
        <input type="text" id="email" name="email">
        <label>mobile</label>
        <input type="text" id="mobile" name="mobile"
        <br>
        <input type="submit" id='submit'>

    </form>
</body>
</head>
</html>
